*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

body {
    line-height: 1.5;
    height: 100vh;
    background-position: center;
    background-size: cover;
}

input, button, textarea, select {
    font: inherit;
}

header {
    height: 6%;
}

nav {
    display: flex;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5);
}

button {
    flex-grow: 1;
    border: none;
    background-color: transparent;
    font-size: 30px;
}

button:hover {
    cursor: pointer;
    background-color: rgba(72, 138, 150, 0.7);
    color: white;
}

.activePage {
    background-color: rgba(72, 138, 150, 0.7);
    color: white;
}

#content {
    height: 94%;
    position: relative;
    text-align: center;
    padding: 30px;
    display: flex;
}

.homeImage {
    background-image: url("./home.jpg");
}

.menuImage {
    background-image: url("./menu.jpg");
}

.aboutImage {
    background-image: url("./about.jpg");
}

.homeHeadline {
    position: absolute;
    top: 30%;
    left: 45%;
    transform: translate(-50%, -50%);
    font-size: max(40px, 3vw);
}

.homeDescription {
    position: absolute;
    top: 55%;
    left: 22%;
    font-size: max(18px, 1.2vw);
    max-width: 40%;
}

.container {
    margin: auto;
    max-width: 700px;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 10px;
    padding-top: 20px;
    padding-bottom: 40px;
    padding-left: 40px;
    padding-right: 40px;
}

.title {
    margin-top: 30px;
    margin-bottom: 18px;
    background-color: rgba(128, 128, 128, 0.199);
    border-radius: 3px;
}

.dish {
    margin-top: 12px;
}

.description {
    margin-top: 2px;
}